<% content_for :page_title, @post.title %>

<section class="section">
    <div class="container">
        <nav class="navbar" role="navigation" aria-label="dropdown navigation">
            <div class="navbar-menu">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <button class="button is-light"><%= link_to "Edit", edit_post_path(@post) %></button>
                    </div>
                    <div class="navbar-item">
                        <button class="button is-danger"><%= link_to "Delete", post_path(@post), method: :delete %></button>
                    </div>
                </div>
            </div>
        </nav>
        <div class="card">
            <div class="card-content">
                <p class="content"><%= @post.content %></p>
            </div>
        </div>
    </div>
</section>
<section class="section comments">
    <div class="container">
        <h2 class="subtitle is-5"><strong><%= @post.comments.count %></strong> Comments</h2>
        <%= render @post.comments %>
        <div class="comment-form">
            <%= render 'comments/form' %>
        </div>
    </div>
</section>